---
const { crumbs } = Astro.props;
---
<nav class="breadcrumbs">
    <a href="/">Home</a>
    {crumbs.map(crumb => (
        <>
            <span class="separator">/</span>
            {crumb.href
                ? <a href={crumb.href}>{crumb.label}</a>
                : <span>{crumb.label}</span>
            }
        </>
    ))}
</nav>
