---
const currentPath = Astro.url.pathname;
---
<nav class="nav">
    <div class="nav__inner">
        <a href="/" class="nav__logo">locale<span>.</span></a>
        <div class="nav__links">
            <a href="/" class={`nav__link ${currentPath === '/' ? 'active' : ''}`}>Home</a>
            <a href="/#highlights" class="nav__link">Highlights</a>
            <a href="/#categories" class="nav__link">Categories</a>
            <a href="/#community" class="nav__link">Browse</a>
            <a href="/search" class="nav__link">Search</a>
            <a href="#" class="btn btn--primary btn--sm">Get Listed</a>
        </div>
    </div>
</nav>
